header{
    text-align: center;
    
}
.about{
     margin-top: 20px;
     border: 2px solid rgb(235, 222, 52);
     border-radius: 5px;
}

/* .btn{
    
   background-color: rgb(235, 222, 52);
}
.btn:hover{
    color: white;
    background-color: rgb(167, 143, 11);
 } */
h1{
    text-align: center;
}
body{
    background-color: rgb(0, 0, 0);
}
.card-body{
    background-color:rgb(0, 0, 0) ;
}

.cardy{
    /* border: 2px solid rgb(133, 206, 49); */
    margin: auto;
   
}
.card{
    border: 2px solid rgb(235, 222, 52);
}
a{
    text-decoration: none;
}
.spinner{
    color: rgb(44, 39, 39);
}
